.wrapper
  .wrap
      h1(
        class="title main-title"
      ) Title

      input(
        type='text'
        class="input_text"
        placeholder="Name"
      )

      input(
        type='text'
        class="input_text"
        placeholder="Surname"
      )
      
      label(class="label") date of birth
      input(class="input_text" placeholder="DD.MM.YY")
      
      label(class="label") Data for sign in
      input(class="input_text" placeholder="Email")
      input(class="input_text" placeholder="Password")


      button(type="button" class="btn btn-width-violet") Signin
      
      .float
        p(class="text") Text
        a(class='button' href='#' class="btn btn-link") Google