.wrapper
  .wrap
      h1(
        class="title main-title"
      ) Регистрация аккаунта

      input(
        type='text'
        class="input_text"
        placeholder="Имя"
      )

      input(
        type='text'
        class="input_text"
        placeholder="Фамилия"
      )

      label(class="label") Дата рождения
      input(class="input_text" placeholder="ДД.ММ.ГГГГ")

      .cont
         ul 
           li 
            input(type="radio" id="men" name="selector")
            label(for="men") Мужчина
            .check
           li 
             input(type="radio" id="women" name="selector")
             label(for="women") Женщина
             .check
      
      label(class="label") Данные для входа в сервис
      input(class="input_text" placeholder="Email")
      input(class="input_text" placeholder="Пароль")

      input#cb1.tgl.tgl-light(type = "checkbox") 
      label.tgl-btn(for = "cb1")

      button(type="button" class="btn btn-width-violet") Перейти к оплате
      
      .flex
        p(class="formtext") Уже есть аккаунт на Toxin
        a(class='button' href='#' class="btn btn-link linkform") Войти