include ../input-text/input-text.pug
include ../signin-button/signin-button.pug
include ../../blocks/radio-button/radio-button.pug
include ../../blocks/toggle/toggle.pug

mixin form-register(title, birthday,  data, offer, button, login)
  div(class='signup')
    div(class='signup__container')
        h1( class='title-main')= title
        div(class='signup__input_name')
        +input-text('Имя')
        div(class='signup__input_surname')
        +input-text('Фамилия')

        div(class="row signup__radio-buttons")
          +radio-button('radio-button1', 'Мужчина')
          div(class="signup__radio-buttons_woman")
            +radio-button('radio-button2', 'Женщина')

        div(class='signup__input_birthday')
          div(class='title signup__title')= birthday
          +input-text('ДД.ММ.ГГГГ')
        
        div(class='signup__input_data')
          div(class='title signup__title')= data
          +input-text('Email')

        div(class='signup__input_data_password')
          +input-text('Пароль')

        .row
          +toggle
          p(class='signup__offer')= offer

        button(type='button' class='btn btn-confirm signup__button_payment')= button
        
        .row
          p(class='text sugnup__text')= login
          +button-signin('Войти', 'signin-page.html')