mixin logo()
    img.logo

mixin input-text(name)
  input(placeholder = name, type = "text", class="input_text")

mixin list(name)
  li 
    a= name

mixin button-signin(name, link)
  a(class="btn btn-link btn-link-menu", href= link)= name

mixin button-signup(name)
  button(type="button" class="btn btn-signup")= name

mixin radio-button(name)
  .radio-button
      ul
        li 
          input(type="radio" id = name name="selector")
          label(for= name)= name
          .check


mixin card-room(number, price, feedback)
    .card
        div(id="carousel" class="owl-carousel")
          div(class="item")
            img(class="owl-lazy" data-src="https://cdn.britannica.com/s:300x300/88/137188-004-A05832DA.jpg" alt="")
          div(class="item")
            img(class="owl-lazy" data-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUmtXRoJ9zEe08pUDUCfAbCm3iPQmuzlWYaecBWe8-Ay_VDdq9ig" alt="")
        .card_container
            .row.line
                p(class="card-number") N  
                    span=  number
                p(class="card-price")= price  
                    span(class="card-span")  в сутки
            .row
              +stars("--rating: 3")
              p(class="card-price")= feedback
                    span(class="card-span")   отзывов
        

mixin checkbox(name, label)
  div(class="checkbox__button")
    input(type="checkbox" class="checkbox__button checkbox__box" id= name name= name value= name)
    label(class="checkbox__button checkbox__name" for= name)= label

mixin description-checkbox(name, label, descr)
  div(class="checkbox__button checkbox__button__descr")
    input(type="checkbox" class="checkbox__button__descr checkbox__box" id= name name= name value= name)
    label(for= name class="checkbox__button__descr checkbox__name")= label
    span(class="checkbox__button__descr checkbox__span")= descr
  
mixin stars(style="--rating: level")
   div(class="Stars" style= style)