mixin logo()
    img.logo

mixin input-text(name)
  input(placeholder = name, type = "text", class="input_text")

mixin list(name)
  li 
    a= name

mixin button-signin(name, link)
  a(class="btn btn-link btn-link-menu", href= link)= name

mixin button-signup(name)
  button(type="button" class="btn btn-signup")= name

mixin radio-button(name)
  .radio-button
      ul
        li 
          input(type="radio" id = name name="selector")
          label(for= name)= name
          .check


mixin card-room(number, price, feedback)
    .card
        img()
        .card_container
            .row.line
                p(class="card-number") N  
                    span=  number
                p(class="card-price")= price  
                    span(class="card-span")  в сутки
            .row
                .rate
                    input(type="radio" id="star5" name="rating" value="5")
                    label(for="star5" title="Outstanding")
                    input(type="radio" id="star4" name="rating" value="4")
                    label(for="star4" title="Very Good")
                    input(type="radio" id="star3" name="rating" value="3")
                    label(for="star3" title="Good")
                    input(type="radio" id="star2" name="rating" value="2")
                    label(for="star2" title="Poor")
                    input(type="radio" id="star1" name="rating" value="1")
                    label(for="star1" title="Very Poor")
                p(class="card-price")= feedback
                    span(class="card-span")   отзывов
        

mixin checkbox(name, label)
  input(type="checkbox" id= name name= name value= name)
  label(for= name)= label
  
  
mixin stars(style="--rating: level")
   div(class="Stars" style= style)