mixin logo()
    img.logo

mixin input-text(name)
  input(placeholder = name, type = "text", class="input_text")

mixin list(name)
  li 
    a= name

mixin button-signin(name, link, className)
  a(class="btn btn-link btn-link-menu", href= link, class= className)= name

mixin button-signin-header(name, link, className)
  a(class="btn  btn-link-menu", href= link, class= className)= name

mixin button-signup(name)
  button(type="button" class="btn btn-signup")= name

mixin radio-button(name)
  .radio-button
      ul
        li 
          input(type="radio" id = name name="selector")
          label(for= name)= name
          .check


mixin card-room(number, price, style="--rating: level", feedback, className)
    div(class= className, class="card")
        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUmtXRoJ9zEe08pUDUCfAbCm3iPQmuzlWYaecBWe8-Ay_VDdq9ig" alt="")
        //- div(id="carousel" class="owl-carousel")
        //-   div(class="item")
        //-     img(class="owl-lazy" data-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUmtXRoJ9zEe08pUDUCfAbCm3iPQmuzlWYaecBWe8-Ay_VDdq9ig" alt="")
        //-   div(class="item")
        //-     img(class="owl-lazy" data-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUmtXRoJ9zEe08pUDUCfAbCm3iPQmuzlWYaecBWe8-Ay_VDdq9ig" alt="")
        .card_container
            .row.line
                p(class="card-number") 
                    span(class="card-number__symbol") &#8470; 
                    span=  number
                p(class="card-price")= price  
                    span(class="card-span")  в сутки
            .row
              div(class="Stars stars__decor" style= style)
              p(class="card-price")= feedback
                    span(class="card-span")   Oтзывов
        

mixin checkbox(name, label, nameClass)
  div(class="checkbox__button" class=nameClass)
    input(type="checkbox" class="checkbox__button checkbox__box" id= name name= name value= name)
    label(class="checkbox__button checkbox__name" for= name)= label

mixin description-checkbox(name, label, descr)
  div(class="checkbox__button checkbox__button__descr")
    input(type="checkbox" class="checkbox__button__descr checkbox__box" id= name name= name value= name)
    label(for= name class="checkbox__button__descr checkbox__name checkbox__name__descr")= label
    span(class="checkbox__button__descr checkbox__span__descr")= descr
  
mixin input-subscription(placeholder)
  form(class="form__subscribe")
    input(type="text" placeholder= placeholder) 
    button(type="submit")
        i(class="fa fa-arrow-right")


mixin room-information(icon, quality, descr)
    div(class="room__information")
      div(class="room__information__wrapper")
         i(class="room__information__icon" class= icon)
         div(class="room__information__wrapper__description")
            h4= quality
            p= descr

mixin feedback( personName, date)
  div(class="room__feedback")
    div(class="room__feedback__wrapper")
      div(class="room__feedback__wrapper__person")
        img(src="../images/twitter.svg")
        div(class="room__feedback__wrapper__person--name")
          h4= personName
          p= date
      div(class="room__feedback__wrapper__evaluation")
        button(type: "button")
          i.fa.fa-heart(class="icon")
          span 0
        p= text

mixin bullet-list(li1, li2, li3)
  ul(class="bullet-list")
    li= li1 
    li= li2
    li= li3