input(type="text"
    data-range="true"
    data-multiple-dates-separator=" - " 
    class="dateRange"
    data-language="en"
    class="datepicker-here"
    id="startDate")

input(type="text"
    data-range="true"
    data-multiple-dates-separator=" - " 
    class="dateRange"
    data-language="en"
    class="datepicker-here"
    id="endDate")

//- input(type='text' class="datepickerWrap" id='start' data-range="true"
//-     data-multiple-dates-separator=" - "
//-     class="datepicker-here")
//- input(type='text' class="datepickerWrap"  id='end'  data-range="true"
//-     data-multiple-dates-separator=" - "
//-     class="datepicker-here")