
mixin datepicker()
    div(class='flex-row')
        div(class='datepicker__input')
            input(type='text'
                data-range='true'
                data-multiple-dates-separator=' - ' 
                class='dateRange datepicker__range'
                class='datepicker-here'
                id='startDate'
                placeholder='ДД.ММ.ГГГГ')
                
        div(class='datepicker__input')
            input(type='text'
                class='datepicker__range'
                id='endDate'
                placeholder='ДД.ММ.ГГГГ')