mixin datepicker()
    div(class='date-dropdown')
        div(class='date-dropdown__range')
            input(type='text'
                data-range='true'
                data-multiple-dates-separator=' - ' 
                class='dateRange date-dropdown__input'
                id='startDate'
                placeholder='ДД.ММ.ГГГГ')
                
        div(class='date-dropdown__range')
            input(type='text'
                class='date-dropdown__input'
                id='endDate'
                placeholder='ДД.ММ.ГГГГ')