div.flex-wrap
    input(type="text"
        data-range="true"
        data-multiple-dates-separator=" - " 
        class="dateRange range"
        class="datepicker-here"
        id="startDate"
        placeholder="ДД.ММ.ГГ")

    input(type="text"
        class="range"
        id="endDate"
         placeholder="ДД.ММ.ГГ")

//- input(type='text' class="datepickerWrap" id='start' data-range="true"
//-     data-multiple-dates-separator=" - "
//-     class="datepicker-here")
//- input(type='text' class="datepickerWrap"  id='end'  data-range="true"
//-     data-multiple-dates-separator=" - "
//-     class="datepicker-here")