include ../airdatepicker/airdatepicker.pug
mixin calculator(calculator)
    div(class='calculator')
        div(class='calculator__container')
            div(class='calculator__wrapper')
                p(class='calculator__text') 
                    span(class='calculator__symbol')  &#8470;
                    span(class='calculator__number')= calculator.roomNumber
                    if block
                        block
                p(class='calculator__cost')= calculator.pricePerDay
                    span(class="calculator__per-day")= calculator.day
            div(class='calculator__subtitles')
                p(class='calculator__subtitle')= calculator.checkin
                p(class='calculator__subtitle calculator__subtitle_type_checkout')= calculator.checkout
            div(class='calculator__datepicker')
                +datepicker({className: 'date-dropdown__input_size_calc'})
            p(class='calculator__subtitle')= calculator.titleDropdown
            div(class='calculator__dropdown')
                +dropdown( {id: 'dd-text', name: 'Сколько гостей'}, { name:'Взрослые', number: 'adult_text', plus: 'adult_plus', minus: 'adult_minus'},  {name: 'Дети', number: 'child_text', plus: 'child_plus', minus: 'child_minus' }, {name: 'Младенцы', number: 'baby_text', plus: 'baby_plus', minus: 'baby_minus'})
            div(class='calculator__price')
                div
                    p(class='calculator__text')= calculator.calculationOfThePrice
                div
                    p(class='calculator__text')= calculator.fullPrice
            div(class='calculator__price')
                div(class='calculator__wrap')
                    p(class='calculator__text')= calculator.tax
                    div
                        span(class='calculator__info') i
                p(class='calculator__text') 0P
            div(class='calculator__price')
                div(class='calculator__wrap')
                    p(class='calculator__text calculator__text_theme_tax')= calculator.addTax
                    div
                        span(class='calculator__info') i
                p(class='calculator__text')= calculator.additionalTax
            h3(class='calculator__total-price')= calculator.totalPrice
            +button({name: 'забронировать', link: '#', className: 'btn__confirm', additionalClass: 'btn__confirm_type_footer'})



